@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
body {
  font-family: roboto, sans-serif, "Segoe UI", Tahoma, Geneva, Verdana,
    sans-serif;
  font-size: 18px;
}
.container {
  background: url("../img/background.jpg") fixed no-repeat center center/cover;
}
.head-nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
ul {
  display: flex;
  list-style: none;
}
li {
  padding: 20px;
}
a {
  color: white;
  font-weight: 800;
}
li:hover {
  background-color: #ccd5da;
  border-radius: 15% 0% 15% 0%;
}
a:hover {
  color: #333;
}
.home {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 77.3vh;
  font-size: 45px;
}
.home .home-t {
  color: #5848cf;
}
.footer {
  background-color: #5848cf;
  height: 10vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 1000;
}
.head-about {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #5848cf;
}
.about-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 77.3vh;
  background-color: #ccd5da;
}
.about-content p {
  color: black;
  font-weight: 900;
  line-height: 1.8rem;
  text-align: center;
}
.contact {
  background-color: #ccd5da;
}

.contact-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 77.3vh;
}
.contact-content h1 {
  padding-bottom: 50px;
  font-size: xx-large;
}
input,
textarea {
  margin: 10px;
  padding: 10px;
  width: 100%;
  outline: 0;
  border-radius: 15px;
  background-color: #ccd5da;
  color: #333;
  border: 1px #5848cf solid;
};
textarea {
  border-radius: 24px;
}
button {
  background-color: #5848cf;
  padding: 15px 45px;
  border-radius: 24px;
}
button:hover {
  background-color: #ccd5da;
  border-radius: 24pc;
}
.products {
  display: grid;
  grid-template-columns: repeat(3, 500px);
  padding-left: 100px;
  row-gap: 20px;
  column-gap: 20px;
  background-color: #ccd5da;
  overflow: hidden;
}
.products img {
  border: 2px solid #5848cf;
  margin: 10px;
}